.popup {
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 999;
  width: 50%;
  background-color: white;
}

.popup-header {
  background-color: rgb(238, 52, 35);
}

.popup-body {
  height: 100%;
}

.tn-logo {
  margin-top: -1px;
  margin-bottom: -6px;
}
