.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 980;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(67, 91, 125, 0.5);
}

.popup {
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 999;
  width: 50%;
  background-color: white;
}

.popup-header {
  background-color: rgb(238, 52, 35);
}

.popup-body {
  height: 100%;
}

.tn-logo {
  margin-top: -1px;
  margin-bottom: -6px;
}
