<div class="container">
  <app-page-header
    *ngIf="registration"
    [title]="
      registration.billingStatus === 'Active'
        ? 'Registration Number: ' + registration.registrationNumber
        : 'Tracking Number: ' + registration.id
    "
    [subTitle]="'Status: ' + registration.billingStatus"
  ></app-page-header>

  <section class="content row" *ngIf="registration">
    <div class="col-md-4">
      <h3 class="details-title">Possessor</h3>
      <button *ngIf="!editP" class="btn btn-primary" (click)="editP = !editP">
        Edit
      </button>
      <button *ngIf="editP" class="btn btn-primary" (click)="editP = !editP">
        <!--add save function-->
        Save
      </button>
      <app-possessor-data
        *ngIf="!editP"
        [possessor]="registration.possessor"
      ></app-possessor-data>
      <app-possessor-form
        *ngIf="editP"
        [possessor]="registration.possessor"
      ></app-possessor-form>
    </div>

    <app-owner-data
      class="col-md-4"
      [owner]="registration.owner"
    ></app-owner-data>

    <app-rad-safety-data
      class="col-md-4"
      [radSafety]="registration.radSafety"
    ></app-rad-safety-data>
  </section>
</div>
