.circle {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 3px solid white;
  border-radius: 50%;
  background-color: rgb(67, 91, 125);
  animation: CIRCLE-SPIN 3s infinite;
}

.star-container {
  position: absolute;
  top: 30%;
  left: 30%;
}

#star-1 {
  transform: rotate(50deg) translateX(-12px) rotate(20deg);
  animation: STAR-1-MOVEMENT 3s infinite;
}

#star-2 {
  transform: rotate(-10deg) translateX(12px) rotate(50deg);
  animation: STAR-2-MOVEMENT 3s infinite;
}

#star-3 {
  transform: rotate(-70deg) translateX(-12px) rotate(15deg);
  animation: STAR-3-MOVEMENT 3s infinite;
}

.star-shape {
  position: relative;
  display: block;
  color: white;
  width: 0px;
  height: 0px;
  margin: 5px 0;
  border-left: 10px solid transparent;
  border-bottom: 7px solid white;
  border-right: 10px solid transparent;
  transform: rotate(35deg);
}

.star-shape:before {
  position: absolute;
  top: -4.5px;
  left: -6.5px;
  display: block;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-bottom: 8px solid white;
  border-right: 3px solid transparent;
  content: '';
  transform: rotate(-35deg);
}

.star-shape:after {
  position: absolute;
  top: 0.3px;
  left: -10.5px;
  display: block;
  color: white;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-bottom: 7px solid white;
  border-right: 10px solid transparent;
  content: '';
  transform: rotate(-70deg);
}

@keyframes CIRCLE-SPIN {
  33% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes STAR-1-MOVEMENT {
  33% {
    transform: rotate(50deg) translateX(-12px) rotate(20deg);
  }
  66% {
    transform: rotate(50deg) translateX(-40px) rotate(240deg);
  }
  100% {
    transform: rotate(50deg) translateX(-12px) rotate(20deg);
  }
}

@keyframes STAR-2-MOVEMENT {
  33% {
    transform: rotate(-10deg) translateX(12px) rotate(50deg);
  }
  66% {
    transform: rotate(-10deg) translateX(40px) rotate(260deg);
  }
  100% {
    transform: rotate(-10deg) translateX(12px) rotate(50deg);
  }
}

@keyframes STAR-3-MOVEMENT {
  33% {
    transform: rotate(-70deg) translateX(-12px) rotate(15deg);
  }
  66% {
    transform: rotate(-70deg) translateX(-40px) rotate(235deg);
  }
  100% {
    transform: rotate(-70deg) translateX(-12px) rotate(15deg);
  }
}
