<div class="container">
  <div class="row">
    <div class="col-6">Content</div>
    <div class="col-6">Display</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-6">
      <h1>h1. Bootstrap Heading</h1>
      <h2>h2. Bootstrap Heading</h2>
      <h3>h3. Bootstrap Heading</h3>
      <h4>h4. Bootstrap Heading</h4>
      <h5>h5. Bootstrap Heading</h5>
      <h6>h6. Bootstrap Heading</h6>
    </div>
    <div class="col-6">
      <div class="jumbotron">
        <h1>h1. (plain)</h1>
        <h1 class="display-1">h1. Display 1</h1>
        <h1 class="display-2">h1. Display 2</h1>
        <h1 class="display-3">h1. Display 3</h1>
        <h1 class="display-4">h1. Display 4</h1>
      </div>
    </div>
  </div>
</div>
