<footer class="container-fluid mb-5">
  <hr />
  <div class="row">
    <div class="col-12 col-lg-6 text-center text-lg-left">
      <div class="mt-3">
        <p>
          <span class="font-weight-bold">{{ appName }}</span> Version
          {{ appVersion }}<br />
          Help Desk: 615-532-0287 |
          <a href="mailto:bg-help-desk@tn.gov">bg-help-desk@tn.gov</a>
        </p>
        <p class="light-gray">
          &copy; {{ currentYear }} Tennessee Department of Environment and
          Conservation
        </p>
      </div>
    </div>
    <div
      class="col-12 col-lg-6 d-flex flex-column flex-lg-row justify-content-lg-end"
    >
      <div class="dept-info mt-3 text-center text-lg-right">
        <p class="font-weight-bold">
          Department of Environment &amp; Conservation
        </p>
        <p>
          312 Rosa L Parks Ave. Nashville, TN 37243 <br />
          (888) 891-TDEC (8332) |
          <a href="https://www.tn.gov/environment/ask-tdec-form.html"
            >Ask TDEC</a
          >
        </p>
      </div>
      <div class="text-center text-lg-right mt-3 ml-lg-3">
        <img class="tn-seal" src="assets/img/tn-seal.png" />
      </div>
    </div>
  </div>
</footer>
