<footer class="container-fluid">
  <hr />
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="text-left m-3">
        <p>
          <span>{{ appName }}</span> Version {{ appVersion }}<br />
          Help Desk: 615-532-0287 |
          <a href="mailto:bg-help-desk@tn.gov">bg-help-desk@tn.gov</a>
        </p>
        <p>
          &copy; {{ currentYear }} Tennessee Department of Environment and
          Conservation
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex flex-row-reverse">
      <img class="tn-seal" src="assets/img/tn-seal.png" />
      <div class="text-right m-3">
        <h6>Department of Environment &amp; Conservation</h6>
        <p>
          312 Rosa L Parks Ave. Nashville, TN 37243 <br />
          (888) 891-TDEC (8332) |
          <a href="https://www.tn.gov/environment/ask-tdec-form.html"
            >Email Questions to TDEC</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
