<div class="container">
  <tdec-page-header
    *ngIf="registration"
    [title]="
      registration.billingStatus === 'Active'
        ? 'Registration Number: ' + registration.registrationNumber
        : 'Tracking Number: ' + registration.id
    "
    [subTitle]="'Status: ' + registration.billingStatus"
  ></tdec-page-header>

  <!-- TEST MODALS -->
  <button class="btn btn-primary mt-2" (click)="runAnimation()">
    Loading
  </button>
  <button class="btn btn-primary mt-2 ml-2" (click)="openAlert()">
    Alert
  </button>
  <button class="btn btn-primary mt-2 ml-2" (click)="openConfirm()">
    Confirm
  </button>
  <button class="btn btn-primary mt-2 ml-2" (click)="openPrompt()">
    Prompt
  </button>

  <section class="content" *ngIf="registration">
    <!--POSSESSOR INFORMATION-->
    <div class="row">
      <div class="col-md-4">
        <h3 class="details-title"><span *ngIf="editP">Edit</span> Possessor</h3>
        <div class="mb-3">
          <button
            *ngIf="!editP"
            class="btn btn-outline-primary"
            (click)="editP = !editP"
          >
            Edit
          </button>
          <button
            *ngIf="editP"
            class="btn btn-outline-success"
            (click)="editP = !editP"
          >
            <!--add save function-->
            Save
          </button>
        </div>
        <app-possessor-data
          *ngIf="!editP"
          [possessor]="registration.possessor"
        ></app-possessor-data>
        <app-possessor-form
          *ngIf="editP"
          [possessor]="registration.possessor"
        ></app-possessor-form>
      </div>

      <!--OWNER INFORMATION-->
      <div class="col-md-4">
        <h3 class="details-title">Owner</h3>
        <div class="mb-3">
          <button
            *ngIf="!editO"
            class="btn btn-outline-primary"
            (click)="editO = !editO"
          >
            Edit
          </button>
          <button
            *ngIf="editO"
            class="btn btn-outline-success"
            (click)="editO = !editO"
          >
            <!--add save function-->
            Save
          </button>
        </div>
        <app-owner-data
          *ngIf="!editO"
          [owner]="registration.owner"
        ></app-owner-data>
        <app-owner-form
          *ngIf="editO"
          [owner]="registration.owner"
        ></app-owner-form>
      </div>

      <!--RADSAFETY INFORMATION-->
      <div class="col-md-4">
        <h3 class="details-title">Radiation Safety Officer</h3>
        <div class="mb-3">
          <button
            *ngIf="!editRs"
            class="btn btn-outline-primary"
            (click)="editRs = !editRs"
          >
            Edit
          </button>
          <button
            *ngIf="editRs"
            class="btn btn-outline-success"
            (click)="editRs = !editRs"
          >
            <!--add save function-->
            Save
          </button>
        </div>
        <app-rad-safety-data
          *ngIf="!editRs"
          [radSafety]="registration.radSafety"
        ></app-rad-safety-data>
        <app-rad-safety-form
          *ngIf="editRs"
          [radSafety]="registration.radSafety"
        ></app-rad-safety-form>
      </div>
    </div>

    <!--MACHINE INFORMATION-->
    <div class="row">
      <div class="col-12 col-sm-3 col-md-4 col-lg-6">
        <h3 class="details-title">Machines</h3>
      </div>
      <div class="col-12 col-sm-9 col-md-8 col-lg-6 pt-sm-3 mt-sm-1">
        <button class="btn btn-outline-primary">Add New Machine</button>
        <!-- Add New Tube CR link -->
        <button class="btn btn-outline-primary ml-3">
          View Inactive Machines
        </button>
      </div>
    </div>

    <div
      class="row"
      *ngFor="
        let machine of registration.machines
          | slice: pager.sliceStart:pager.sliceEnd + 1
      "
    >
      <app-machine-detail
        class="col-12"
        [registration]="registration"
        [machine]="machine"
      ></app-machine-detail>
    </div>
    <tdec-pager-controls [(pager)]="pager"></tdec-pager-controls>

    <!-- DOCUMENT INFORMATION -->
    <h3 class="details-title">Documents</h3>

    <!-- COMMENTS INFORMATION -->
    <h3 class="details-title">Comments</h3>

    <!--Approve or Deny / Activate or Inactivate -->
    <hr />
    <div class="mb-5">
      <button class="btn btn-success" ng-click="ar.saveEdit(ar.registration)">
        Save
      </button>
      <div
        class="d-inline"
        ng-if="ar.registration.status == 'Submitted' || ar.registration.status == 'Pending'"
      >
        <button
          class="btn btn-secondary ml-2"
          ng-click="ar.postDeny(ar.registration)"
        >
          Deny
        </button>
        <button
          class="btn btn-primary ml-2"
          ng-class="{'tdec-button-disabled': !ar.completeCheck()}"
          ng-disabled="!ar.completeCheck()"
          ng-click="ar.postApprove(ar.registration, 'employee')"
        >
          Approve
        </button>
      </div>
      <div class="d-inline" ng-if="ar.registration.status == 'Approved'">
        <button
          class="btn btn-danger ml-2"
          ng-if="ar.registration.billingStatus === 'Active'"
          ng-click="ar.inactivate(ar.registration)"
        >
          Inactivate
        </button>
        <button
          class="btn btn-red ml-2"
          ng-if="ar.registration.billingStatus !== 'Active'"
          ng-click="ar.activate(ar.registration)"
        >
          Activate
        </button>
      </div>
    </div>
  </section>
</div>
