<h4>{{ possessor.name }}</h4>

<h5>Physical Address</h5>
<p>{{ possessor.physicalAddress.street1 }}</p>
<p *ngIf="possessor.physicalAddress.street2">
  {{ possessor.physicalAddress.street2 }}
</p>
<p>{{ possessor.physicalAddress.city }}</p>
<p>{{ possessor.physicalAddress.state }}</p>
<p>{{ possessor.physicalAddress.postalCode }}</p>

<h5>Billing Address</h5>
<p>{{ possessor.billingAddress.street1 }}</p>
<p *ngIf="possessor.billingAddress.street2">
  {{ possessor.billingAddress.street2 }}
</p>
<p>{{ possessor.billingAddress.city }}</p>
<p>{{ possessor.billingAddress.state }}</p>
<p>{{ possessor.billingAddress.postalCode }}</p>
